* {
    margin: 0;
    padding: 0;
    outline: none !important;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

html,
body {
    width: 100%;
}

input {
    outline: none ;
    border: none;
}

button {
    border: none;
}